# Environment Directory
venv/

# IDE Specific Directory
.idea/

# IDE Caching Directory
__pycache__

# Log Directory and Files
*.log
logs/
action_log/

# State Space Generator Tests
ssg_tester_input/*
ssg_tester_output/*
!*.gitkeep




